header{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #dcf1ff;
}

nav ul {
    list-style: none;
}